<h2>Регистрация</h2>
<div class="row">
  <div class="col-md-6 buffer-top">
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>

      <div class="form-group">
        <%= f.label :name %><br />
        <%= f.email_field :name, class: "form-control", autofocus: true, autocomplete: "name" %>
      </div>

      <div class="form-group">
        <%= f.label :email %><br />
        <%= f.email_field :email, class: "form-control", autofocus: true, autocomplete: "email" %>
      </div>

      <div class="form-group">
        <%= f.label :password %>
        <% if @minimum_password_length %>
        <em>(минимум <%= @minimum_password_length %> символов)</em>
        <% end %><br />
        <%= f.password_field :password, class: "form-control", autocomplete: "new-password" %>
      </div>

      <div class="form-group">
        <%= f.label :password_confirmation %><br />
        <%= f.password_field :password_confirmation, class: "form-control", autocomplete: "new-password" %>
      </div>

      <div class="actions">
        <%= f.submit "Регистрация", class: "btn btn-primary" %>
      </div>
    <% end %>
    <div class="buffer-both">
      <%= render "devise/shared/links" %>
    </div>
  </div>
</div>
