<div class="event">
  <div class="event-info row">
    <div class="col-md-12">
      <%= content_tag 'div', '', class: 'event-background',
        style: "background-image: url(#{event_photo(@event)})" %>

      <div class="event-info-inner row">
        <div class="col-md-6">
          <div class="event-description">
            <h1><%= @event.title %></h1>
            <h3><%= l @event.datetime, format: :long %></h3>
            <h3>
              <small><%= link_to @event.address,
                "https://yandex.ru/maps/?text=#{@event.address}" %></small>
            </h3>
            <p><%= @event.description %></p>
            <% if current_user_can_edit?(@event) %>
              <div class="buffer-both">
                <%= link_to 'Изменить', edit_event_path(@event),
                  class: 'btn btn-primary' %>
                <%= link_to 'Удалить', @event, method: :delete, data: {confirm: t('.destroy_confirm')},
                   class: 'btn btn-danger' %>
              </div>
            <% end %>
          </div>
        </div>

        <div class="col-md-6">
          <div class="event-map" id="map" data-address="<%= @event.address %>"></div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-8">
      <div class="event-photos">
        <div class="event-photos-gallery">
          <div class="owl-carousel" data="<%= {count: @event.photos.except(@new_photo).count} %>">
            <%= render partial: 'photos/photo', collection: @event.photos.except(@new_photo) %>
          </div>
        </div>

        <% if current_user %>

          <div class="event-photo-form buffer-top">
            <%= render partial: 'photos/form', locals: {photo: @new_photo || @event.photos.build} %>
          </div>
        <% end %>
      </div>

      <div class="event-comments buffer-top">
        <%= render partial: 'comments/form',
          locals: {comment: @new_comment || @event.comments.build} %>

        <div class="buffer-both">
          <%= render partial: 'comments/comment',
            collection: @event.comments.except(@new_comment) %>
        </div>
      </div>
    </div>

    <div class="col-md-4">
      <div class="event-owner">
        <h4>Зовет:</h4>
        <p><%= render partial: 'users/user', object: @event.user %></p>
      </div>
      <div class="event-subscriptions">
        <h4>Пойдут:</h4>
        <div>
          <p>
          <% subsсribers = @event.subscriptions.except(@new_subscription) %>
          <% if subsсribers.any? %>
            <%= render partial: 'subscriptions/subscription', collection: subsсribers %>
          <% else %>
            Пока никто не записался
          <% end %>
          </p>
        </div>
      </div>
      <% unless current_user == @event.user %>
      <div class="event-subscription-form">
        <h4>Я пойду:</h4>
        <div>
          <% unless current_user %>
            <%= render partial: 'subscriptions/form', locals: {
              subscription: @new_subscription || @event.subscriptions.build
            } %>
          <% else %>
            <% if current_user.subscriptions.pluck(:event_id).include?(@event.id) %>
              <% subscription = current_user.subscriptions.find_by(event_id: @event.id) %>
              <%= link_to 'Отписаться', event_subscription_path(subscription.event, subscription), 
                    method: :delete, data: { confirm: t('.destroy_confirm') }, class: 'btn btn-danger' %>
            <% else %>
             <%= render partial: 'subscriptions/form', locals: {
               subscription: @new_subscription || @event.subscriptions.build
             } %>
             <% end %>
           <% end %>
        </div>
      </div>
      <% end %>
    </div>
  </div>
</div>
